body
{
  
}

.Background
{
  display: flex;
  padding: 0px !important;
  max-width: 1920px;
  overflow: hidden;
  flex: 1 1 auto;
}

.BackgroundImage
{
  margin-top: 40px !important;
  position: fixed;
}

.Topground
{
  position: absolute;
  min-height: 100px;
  max-width: 80% !important;
  margin-left: 10%;
  margin-right: 20px !important;
  z-index: 1;
}

.Background::before 
{
  content: "" !important;
  position: fixed;
  background-color: white !important;
  min-width: 10% !important;
  min-height: 100% !important;
  z-index: 1;
}

.Background::after 
{
  content: "" !important;
  position: fixed;
  left: 90%;
  background-color: white !important;
  min-width: 10% !important;
  min-height: 100% !important;
}

.Section
{
  background-color: white;
  box-shadow: 0 1.5px rgb(218, 218, 218);
  margin-top: 150px !important;
}

.ChooseAdopt
{
  background-color: rgb(255, 255, 255, 0.5);
}

.Footer
{
  margin-top: 1px !important;
  font-size: 20px;
  min-height: 250px;
}

.ContactContent
{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.ContactMethod
{
  display: block;
  width: auto;
  box-shadow: 1px -2px 1px rgb(182, 182, 182);
  margin-top: 20px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ContactText
{
  padding-left: 20px;
  text-align: center;
}

.HexagonContent
{
  background-color: blue;
}

.AdoptNavbar
{
  min-height: 100px !important;
  z-index: 200 !important;
  background-color: white;
  box-shadow: 0 0.5px rgb(218, 218, 218);
}

.Honeycomb
{
  margin-top: 80px;
}

.ContentContainer
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Title
{
  margin-top: 20px;
  box-shadow: 0 1.5px rgb(218, 218, 218);
  font-size: 30px;
}

.Content
{
  margin-top: 40px;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: justify;
  text-justify: inter-word;
  padding-left: 40px;
  padding-right: 40px;
}